.btn{
	//.transition(0.2s);
	.fp;
	margin: 0;
	padding: 0 20px;
	border : 0;
	height: 43px;
	line-height: 43px;
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	overflow: visible;
	color: #fff;
	outline: none;
	text-transform: uppercase;
	text-align: center;
	background: #666;
	&:hover{
		background: darken(#666,10%);
	}
}
.btn-primary {
	background: @cl;
	&:hover{
		background: darken(@cl,10%);
	}
}
.btn-default {
	line-height: 41px;
	color: @cl;
	border: 1px solid @cl;
	background: #fff;
	&:hover{
		color: #fff;
		background: @cl;
	}
}
.btn-error {
	line-height: 41px;
	color: @error;
	border: 1px solid @error;
	background: #fff;
	&:hover{
		color: #fff;
		background: @error;
	}
}