// fonts
.fp {font-family: 'Raleway',sans-serif;} // font primary
.fh {font-family: 'Raleway',sans-serif;} // font header
.fi {font-family: 'ev-icons',sans-serif;} // font icon

// body
@bb: #f3f3f3; // body background

// colors
@cp: #000; // color primary
@cl: #008d36; // color link
@success: #6ebb00;
@error: #dc0000;

// font sizes
@fsp: 14px; // font size primary

// line heights
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 960px;
@content-padding: 20px;