body {
	//width: @content-width;
}
.col_main {
	position: relative;
	width: 66.6666%;
	padding: 0 10px 0 0;
	float: left;
}
.col_sidebar {
	position: relative;
	width: 33.3333%;
	padding: 0 0 0 10px;
	float: left;
}
.breadcrumbs {
	margin: 0 0 20px;
	ul {
		.rul;
		border-top: 1px solid #ccc;
		display: inline-block;
		padding: 6px 0;
		li {
			.rli;
			display: inline;
			color: #999;
			white-space: nowrap;
			&:before{
				.fi;
				font-weight: normal;
				position: static;
				content: '\e808';
				font-size: 10px;
				margin: 0 4px 0 0;
			}
			&:first-child {
				&:before{
					display: none;
				}
			}
			a {
				color: #999;
			}
		}
	}
}
.alert {
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-size: 15px;
	line-height: 1.2;
	padding: 9px 20px;
	margin: 0 0 20px;
	background: #999;
	&.success {
		background: @success;
	}
	&.error {
		background: @error;
	}
}
.form-control {
	position: relative;
	margin: 0 0 25px;
	.helper {
		text-align: right;
		font-size: 12px;
		margin: 7px 0 -9px;
	}
	textarea {
		height: 115px;
	}
	.js & {
		.placeholder-wrapper {
			label {
				float: left;
				position: relative;
				height: 0;
				overflow: visible;
				z-index: 2;
				top: 7px;
				padding: 0 0 0 11px;
				line-height: 1;
				mark {
					float: right;
					color: #008d36;
					font-weight: 700;
					font-size: 20px;
				}
			}
			&.focus, &.done {
				label {
					top: -13px;
					font-size: 12px;
					padding-left: 0;
				}
			}
			&.fault {
				label {
					color: @error;
					mark {
						color: @error;
					}
				}
				input, textarea {
					color: @error!important;
				}
			}
		}
	}
	.help-info {
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 2;
		.toggle {
			display: block;
			width: 32px;
			line-height: 28px;
			text-align: center;
			cursor: default;
		}
		.label {
			display: none;
			position: absolute;
			bottom: 100%;
			right: 0;
			margin: 0 0 10px;
			width: 130px;
			padding: 4px;
			font-size: 11px;
			line-height: 1.1;
			background: #eee;
			border: 1px solid #dbdbdb;
			&:before, &:after {
				position: absolute;
				content: '';
				right: 10px;
				top: 100%;
				border: 6px solid transparent;
				border-top-color: #dbdbdb;
			}
			&:after {
				margin: -1px 0 0;
				border-top-color: #eee;
			}
		}
		&:hover{
			.label {
				display: block;
			}
		}
	}
}
.addthis_native_toolbox {
	margin: 0 0 20px;
}
#bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	img {
		min-width: 100%;
	}
}
#page {
	.container;
	margin-top: 42px;
	margin-bottom: 20px;
	padding-bottom: 12px;
	background: #fff;
}
#main-header {
	.clearfix;
	margin: 30px 0 24px;
	.logo {
		margin: 0;
		font-weight: 500;
		float: left;
		width: 33.3333%;
		a {
			position: relative;
			display: block;
			min-height: 80px;
			text-indent: -9999px;
			text-decoration: none;
			&:before, &:after {
				.fi;
				font-weight: normal;
				position: absolute;
				top: 0;
				left: -2px;
				text-indent: 0;
				content: '\e805';
				font-size: 77px;
				line-height: 1;
			}
			&:after {
				content: '\e806';
				color: @cp;
				left: 67px;
				top: 18px;
				font-size:  34px;
			}
		}
	}
	.slogan {
		float: left;
		text-align: right;
		width: 66.6666%;
		margin: 12px 0 0;
		padding: 0 0 0 20px;
		font-size: 14px;
		line-height: 1.8;
		small {
			font-size: 12px;
		}
	}
}
#main-nav {
	.clearfix;
	position: relative;
	z-index: 99;
	margin: 0 0 15px;
	.date {
		position: relative;
		float: right;
		line-height: 1.6;
	}
	.search {
		position: relative;
		z-index: 1;
		float: right;
		margin: 0 0 0 10px;
		.toggle {
			display: inline-block;
			width: 26px;
			height: 24px;
			line-height: 22px;
			margin: -3px 0 0;
			overflow: hidden;
			white-space: nowrap;
			border: 1px solid #ccc;
			text-align: center;
			text-decoration: none;
			color: #999;
			&:hover{
				border-color: @cp;
				color: @cp;
			}
			&:before{
				.fi;
				font-weight: normal;
				display: inline-block;
				content: '\e800';
				width: 24px;
				font-size: 18px;
			}
		}
		form {
			.clearfix;
			display: none;
			position: absolute;
			top: -5px;
			right: 0;
			white-space: nowrap;
			width: 300px;
			input[type="text"],input[type="search"] {
				width: 268px;
				height: 32px;
				float: left;
				border-color: #666;
				border-right-width: 0;
			}
			input[type="submit"] {
				.fi;
				position: relative;
				font-weight: normal;
				float: left;
				padding: 0;
				width: 32px;
				height: 32px;
				line-height: 32px;
				background: #666;
				font-weight: 500;
				&:hover{
					background: darken(#666,10%);
				}
			}
		}
		&.on {
			form {
				display: block;
			}
		}
	}
	.toggle-menu {
		display: none;
		position: relative;
		text-transform: uppercase;
		font-weight: bold;
		line-height: 23px;
		letter-spacing: 2px;
		padding: 10px 46px 10px 10px;
		color: #fff;
		text-decoration: none;
		text-align: right;
		background: @cl;
		&:before, &:after {
			position: absolute;
			content: '';
			top: 11px;
			right: 10px;
			width: 25px;
			height: 21px;
			border-top: 3px solid #fff;
			border-bottom: 3px solid #fff;
		}
		&:after{
			top: 20px;
			height: 0;
			border-top: 0;
		}
	}
	.menu-top {
		position: relative;
		z-index: 1;
		float: left;
		&>ul {
			.rul;
			.clearfix;
			margin: 0 0 0 -26px;
			&>li {
				.rli;
				float: left;
				font-size: 16px;
				white-space: nowrap;
				font-weight: 600;
				padding: 0 10px 10px 36px;
				&:hover{
					ul {
						display: block;
					}
				}
				&:before{
					top: 2px;
					left: auto;
					left: 12px;
					height: 16px;
					border-left: 1px solid #b0b0b0;
				}
				&:first-child {
					&:before{
						display: none;
					}
				}
				&>a {
					color: @cp;
					text-decoration: none;
					&:hover{
						color: @cl;
						text-decoration: underline;
					}
				}
				&.act {
					&>a {
						color: @cl;
					}
				}
				ul {
					.rul;
					display: none;
					position: absolute;
					left: 36px;
					top: 100%;
					padding: 10px 15px;
					width: 180px;
					border: 1px solid #ccc;
					background: #fff;
					li {
						.rli;
						font-size: 14px;
						margin: 5px 0;
						line-height: 1.2;
						a {
							text-decoration: none;
							color: @cp;
							&:hover{
								text-decoration: underline;
								color: @cl;
							}
						}
						&.act {
							a {
								color: @cl;
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
	.menu-main {
		position: relative;
		clear: both;
		background: @cl;
		padding: 10px 0 0;
		&>ul {
			.rul;
			.clearfix;
			margin: 0 0 0 -30px;
			&>li {
				.rli;
				float: left;
				margin: 0 0 0 40px;
				padding: 0 0 10px;
				font-size: 16px;
				font-weight: 600;
				white-space: nowrap;
				&:hover{
					ul {
						display: block;
					}
				}
				&>a {
					text-decoration: none;
					color: #fff;
					&:hover{
						text-decoration: underline;
					}
				}
				ul {
					.rul;
					display: none;
					position: absolute;
					left: 0;
					top: 100%;
					width: 180px;
					background: #efeeec;
					li {
						.rli;
						font-size: 14px;
						line-height: 1.2;
						a {
							display: block;
							padding: 7px 15px;
							text-decoration: none;
							color: @cp;
							&:hover{
								color: #fff;
								background: @cl;
							}
						}
						&.act {
							a {
								color: #fff;
								background: @cl;
							}
						}
					}
				}
			}
		}
	}
}
.mod_articles_01 {
	section {
		.clearfix;
		article {
			.clearfix;
			font-size: 17px;
			line-height: 1.6;
			font-weight: 500;
			figure {
				float: left;
				width: 50%;
				margin: 0 20px 10px 0;
				figcaption {
					display: block;
					margin: 0 0 20px;
					font-size: 12px;
					line-height: 1.2;
					color: #999;
				}
			}
			h2,h3 {
				margin: 20px 0 10px;
				font-size: 28px;
				font-weight: 700;
				a {
					color: @cp;
					&:hover{
						color: @cl;
					}
				}
			}
			.date {
				font-size: 19px;
				color: @cl;
				font-weight: 700;
			}
		}
	}
}
.mod_articles_02 {
	section {
		.clearfix;
		margin: 0 0 0 -15px;
		article {
			.clearfix;
			width: 50%;
			float: left;
			padding: 0 20px 0 15px;
			margin: 0 0 8px;
			font-size: 13px;
			line-height: 1.55;
			figure {
				margin: 0 10px 10px 0;
				figcaption {
					display: block;
					margin: 0 0 15px;
					font-size: 12px;
					line-height: 1.2;
					color: #999;
				}
			}
			h2,h3 {
				font-size: 18px;
				font-weight: 700;
				a {
					color: @cp;
					&:hover{
						color: @cl;
					}
				}
			}
			.date {
				font-size: 15px;
				color: @cl;
				font-weight: 700;
			}
		}
	}
}
.mod_articles_03 {
	section {
		article {
			.clearfix;
			font-size: 13px;
			margin: 0 0 10px;
			figure {
				width: 31%;
				float: left;
				margin: 0 12px 10px 0;
				figcaption {
					display: block;
					margin: 0 0 15px;
					font-size: 12px;
					line-height: 1.2;
					color: #999;
				}
			}
			h2,h3 {
				font-size: 16px;
				font-weight: 700;
				a {
					color: @cp;
					&:hover{
						color: @cl;
					}
				}
			}
			.date {
				font-size: 15px;
				color: @cl;
				font-weight: 700;
			}
		}
	}
}
.mod_articles_04 {
	header {
		h2,h3 {
			font-size: 16px;
			text-transform: uppercase;
			a {
				color: #999;
				&:hover{
					color: @cp;
				}
			}
		}
	}
	section {
		margin: 0 0 20px;
		article {
			.clearfix;
			margin: 0 0 14px;
			figure {
				width: 35%;
				float: left;
				margin: 0 10px 0 0;
			}
			h2,h3 {
				font-size: 14px;
				font-weight: 500;
				margin: 0;
				a {
					color: @cp;
					&:hover{
						color: @cl;
					}
				}
			}
			&:first-child {
				margin-bottom: 5px;
				h2,h3 {
					font-weight: 700;
					font-size: 15px;
				}
			}
		}
		nav {
			font-weight: 700;
			a {
				color: @cp;
				&:hover{
					color: @cl;
				}
			}
		}
	}
}
.mod_articles_05 {
	margin: 0 0 10px;
	section {
		.clearfix;
		article {
			.clearfix;
			font-size: 17px;
			line-height: 1.6;
			font-weight: 500;
			h2,h3 {
				margin: 0 0 20px;
				font-size: 25px;
				font-weight: 700;
				a {
					color: @cp;
					&:hover{
						color: @cl;
					}
				}
			}
			figure {
				width: 76%;
				margin: 0 0 5px;
				figcaption {
					display: block;
					font-size: 12px;
					line-height: 1.2;
					color: #999;
				}
			}
			.date {
				font-size: 19px;
				color: @cl;
				font-weight: 700;
			}
		}
	}
}
.mod_articles_06 {
	header {
		h2,h3 {
			font-size: 16px;
			text-transform: uppercase;
			a {
				color: #999;
				color: #666;
			}
		}
	}
	section {
		margin: 0 0 20px;
		article {
			.clearfix;
			font-size: 13px;
			margin: 0 0 15px;
			figure {
				width: 16.5%;
				float: left;
				margin: 0 10px 0 0;
			}
			h2,h3 {
				font-size: 16px;
				margin: 0 0 15px;
				a {
					color: @cp;
					&:hover{
						color: @cl;
					}
				}
			}
			.date {
				color: @cl;
				font-weight: 700;
			}
		}
		nav {
			text-align: center;
			a {
				.btn;
				.btn-default;
				min-width: 45%;
			}
		}
	}
}
.mod_article_list {
	margin: 0 0 30px;
	.more {
		text-align: center;
		a {
			.btn;
			.btn-default;
			min-width: 45%;
		}
	}
}
.mod_calendar {
	margin: 0 0 50px;
	.title {
		text-transform: uppercase;
		color: @cl;
		font-weight: 700;
		font-size: 16px;
		line-height: 1;
		margin: 0 0 17px;
	}
	.add {
		text-align: center;
		a {
			.btn;
			.btn-primary;
			display: block;
			padding: 0;
		}
	}
	section {
		article {
			.clearfix;
			padding: 14px 0 7px;
			border-top: 1px solid #d3d3d3;
			&:first-child {
				border-top: none;
			}
			figure {
				float: left;
				width: 33.3333%;
				margin: 4px 10px 0 0;
			}
			.date {
				font-weight: 700;
				color: @cl;
				margin: 0 0 7px;
			}
			h2,h3,h4 {
				font-weight: 500;
				font-size: 14px;
				a {
					color: @cp;
					&:hover{
						color: @cl;
					}
				}
			}
		}
		nav {
			text-align: center;
			margin: 10px 0 0;
			a {
				.btn;
				.btn-default;
				display: block;
				margin: 0 5%;
				padding: 0;
			}
		}
	}
}
.mod_newsletter {
	padding: 24px 15px;
	margin: 0 0 50px;
	background: #f9f9fa;
	border: 1px solid #dbdbdb;
	.title {
		text-transform: uppercase;
		color: @cl;
		font-weight: 700;
		font-size: 16px;
		line-height: 1;
		margin: 0 0 18px;
	}
	p {
		margin: 0 0 10px;
	}
	input[type="text"],input[type="email"] {
		height: 33px;
		margin: 0 0 17px;
	}
	.submit {
		.btn;
		display: block;
	}
}
.mod_shop {
	padding: 17px 12px 18px;
	margin: 0 0 50px;
	background: #f9f9fa;
	border: 1px solid #dbdbdb;
	.title {
		text-align: center;
		height: 40px;
		margin: 0 0 7px;
		overflow: hidden;
		&:before{
			.fi;
			font-weight: normal;
			display: block;
			font-size: 32px;
			margin: 0 0 50px;
			content: '\e80a';
		}
	}
	.items {
		.cycle-carousel-wrap {
			position: relative!important;
		}
		.prev,.next {
			.rin;
			position: absolute;
			left: 0;
			top: 110px;
			font-size: 28px;
			line-height: 1;
			color: #999;
			&:hover{
				color: @cp;
			}
			&:before{
				.fi;
				font-weight: normal;
				content: '\e807';
			}
		}
		.next {
			left: auto;
			right: 0;
			&:before{
				content: '\e808';
			}
		}
		.item {
			width: 270px;
			font-size: 12px;
			line-height: 1.45;
			white-space: normal;
			&.cycle-slide {
				vertical-align: top;
			}
			&.cycle-sentinel {
				display: none!important;
			}
			a {
				display: block;
				padding: 10px 0;
				color: @cp;
				text-decoration: none;
			}
			h2,h3,h4 {
				text-align: center;
				font-size: 14px;
				line-height: 1.4;
				font-weight: 700;
				margin: 0 15% 10px;
			}
			figure {
				position: relative;
				margin: 0 15% 16px;
				img {
					display: block;
				}
				figcaption {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					padding: 10px 10px;
					color: #fff;
					background: #999;
					font-size: 12px;
					text-align: center;
				}
			}
			p {
				margin: 0 0 5px;
			}
		}
	}
	nav {
		margin: 2px 0 0;
		font-size: 16px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		a {
			text-decoration: none;
			&:hover{
				text-decoration: underline;
				color: @cp;
			}
		}
	}
}
.mod_tags {
	margin: 0 0 50px;
	.title {
		text-transform: uppercase;
		color: @cl;
		font-weight: 700;
		font-size: 16px;
		line-height: 1;
		margin: 0 0 17px;
	}
	ul {
		.rul;
		margin: 0 0 0 -12px;
		li {
			.rli;
			display: inline-block;
			margin: 0 0 8px 12px;
			a {
				color: #666;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_banners {
	position: relative;
	padding: 15px 0 8px;
	margin: 0 0 20px;
	background: #fff;
	border: 1px solid #ccc;
	.col_main & {
		border: 0;
	}
	.items {
		.clearfix;
		margin: 0 46px;
		.cycle-carousel-wrap {
			position: relative!important;
		}
		.item {
			display: inline-block;
			vertical-align: top;
			width: 172px;
			padding: 0 11px;	
			white-space: normal;
			text-align: center;
			font-size: 13px;
			&.cycle-sentinel {
				display: none!important;
			}
			figure {
				img {
					margin: 0 auto 13px;
					display: block;
					border: 1px solid transparent;
				}
				a {
					&:hover{
						img {
							border-color: #ededed;
						}
					}
				}
			}
		}
	}
	.prev,.next {
		.rin;
		position: absolute;
		left: 12px;
		top: 50%;
		margin: -11px 0 0;
		font-size: 28px;
		line-height: 1;
		color: #999;
		&:hover{
			color: @cp;
		}
		&:before{
			.fi;
			font-weight: normal;
			content: '\e807';
		}
	}
	.next {
		left: auto;
		right: 12px;
		&:before{
			content: '\e808';
		}
	}
}
.mod_facebook_box {
	margin: 0 0 20px;
	iframe {
		border: 0;
	}
}
.mod_header_main {
	position: relative;
	h1 {
		text-transform: uppercase;
	}
	.breadcrumbs {
		margin-bottom: 5px;
	}
	.date {
		font-size: 17px;
		font-weight: 600;
		color: #999;
		margin: 0 0 6px;
	}
	.intro {
		font-size: 18px;
		line-height: 1.5;
		color: @cl;
		font-weight: 500;
		margin: 0 0 34px;
	}
}
.mod_gallery_01 {
	margin: 0 0 30px;
	.images {
		margin: 0 11.85% 17px;
		.items {
			.item {
				width: 100%;
				figure {
					text-align: center;
					img {
						width: auto!important;
						display: block;
						margin: 0 auto 7px;
						max-height: 345px;
					}
					figcaption {
						text-align: left;
						font-size: 12px;
					}
				}
			}
		}
	}
	.thumbnails {
		position: relative;
		padding: 0 30px;
		text-align: center;
		.items {
			.item {
				display: inline-block;
				height: 75px;
				padding: 0 5px;
				vertical-align: middle;
				figure {
					display: inline;
				}
				img {
					width: auto!important;
					max-width: 100%;
					max-height: 100%;
					cursor: pointer;
					-webkit-opacity: 0.7;
					-moz-opacity: 0.7;
					opacity: 0.7;
					filter:alpha(opacity=70);
				}
				figcaption {
					display: none;
				}
				&.on {
					img {
						-webkit-opacity: 1;
						-moz-opacity: 1;
						opacity: 1;
						filter:alpha(opacity=100);
					}
				}
			}
		}
		.prev,.next {
			.rin;
			position: absolute;
			left: -5px;
			bottom: 15px;
			height: 50px;
			line-height: 50px;
			color: #999;
			&:hover{
				color: @cp;
			}
			&:before{
				.fi;
				font-weight: normal;
				content: '\e807';
				font-size: 36px;
			}
		}
		.next {
			left: auto;
			right: -5px;
			&:before{
				content: '\e808';
			}
		}
	}
}
.mod_gallery_02 {
	margin: 0 0 30px;
	.images {
		position: relative;
		padding: 0 11.85% 10px;
		margin: 0 0 5px;
		.items {
			.item {
				width: 100%;
				figure {
					text-align: center;
					img {
						width: auto!important;
						display: block;
						margin: 0 auto 7px;
						max-height: 345px;
					}
					figcaption {
						text-align: left;
						font-size: 12px;
						color: #999;
					}
				}
			}
		}
		.prev,.next {
			.rin;
			position: absolute;
			left: 0;
			bottom: 50%;
			width: 50px;
			height: 50px;
			line-height: 50px;
			color: #999;
			&:hover{
				color: @cp;
			}
			&:before{
				.fi;
				font-weight: normal;
				content: '\e807';
				font-size: 50px;
			}
		}
		.next {
			left: auto;
			right: 0;
			&:before{
				content: '\e808';
			}
		}
	}
	.thumbnails {
		text-align: center;
		margin: 0 -15px;
		.item {
			display: inline-block;
			width: 32%;
			padding: 0 10px;
			margin: 0 0 25px;
			vertical-align: top;
			text-align: left;
			figcaption {
				font-size: 12px;
				color: #999;
			}
		}
	}
}
.mod_videos {
	margin: 0 0 30px;
	.items {
		.item {
			display: none;
			position: relative;
			padding-bottom: 56.25%; /* 16:9 */
			padding-top: 25px;
			height: 0;
			margin: 0 0 15px;
			&.on {
				display: block;
			}
			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border: 0;
			}
		}
		nav {
			text-align: center;
			a {
				.btn;
				.btn-default;
				min-width: 45%;
			}
		}
	}
}
.mod_attachments {
	.title {
		color: @cl;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 16px;
		margin: 0 0 25px;
	}
	ul {
		.rul;
		li {
			.rli;
			padding: 0 0 0 40px;
			margin: 0 0 18px;
			font-size: 13px;
			color: #999;
			[class^="ev-"] {
				position: absolute;
				left: -7px;
				top: -5px;
				font-size: 28px;
				line-height: 1;
				color: @cl;
			}
			a {
				color: @cp;
				&:hover{
					color: @cl;
				}
			}
		}
	}
}
.mod_gallery_list {
	margin: 0 0 30px;
	section {
		article {
			.clearfix;
			padding: 18px 0 0 10px;
			margin: 0 0 15px;
			line-height: 1.3;
			figure {
				float: left;
				width: 44.3%;
				margin: 0 10px 5px 0;
				a {
					display: block;
					text-decoration: none;
					img {
						display: block;
					}
					.noimage {
						position: relative;
						display: block;
						height: 195px;
						text-align: center;
						color: #828282;
						background: #eaeaea;
						&:before{
							.fi;
							font-weight: normal;
							position: absolute;
							content: '\e80b';
							left: 0;
							width: 100%;
							top: 50%;
							font-size: 35px;
							line-height: 1;
							margin: -15px 0 0;
						}
					}
					figcaption {
						text-align: center;
						padding: 5px 10px;
						color: #fff;
						font-weight: 700;
						background: #bbb;
					}
					&:hover{
						figcaption {
							background: @cl;
						}
					}
				}
			}
			h2,h3 {
				font-size: 18px;
				a {
					color: @cp;
					&:hover{
						color: @cl;
					}
				}
			}
			.date {
				font-size: 15px;
				font-weight: 700;
				color: @cl;
				margin: 0 0 8px;
			}
		}
		nav {
			text-align: center;
			a {
				.btn;
				.btn-default;
				min-width: 45%;
			}
		}
	}
}
.mod_partners_list {
	margin: 0 0 30px;
	section {
		article {
			.clearfix;
			padding: 15px 0 15px 20px;
			margin: 0 0 20px;
			line-height: 1.3;
			border: 1px solid #dbdbdb;
			&:hover {
				background: #f9f9fa;
			}
			figure {
				float: left;
				width: 45%;
				margin: 4px 20px 5px 0;
				a {
					display: block;
					text-decoration: none;
					img {
						display: block;
						border: 1px solid #dbdbdb;
					}
					&:hover{
						img {
							border-color: @cl;
						}
					}
				}
			}
			h2,h3 {
				font-size: 18px;
				a {
					color: @cp;
					&:hover{
						color: @cl;
					}
				}
			}
			.url {
				a {
					color: @cp;
					&:hover{
						color: @cl;
					}
				}
			}
		}
		nav {
			margin: 40px 0 0;
			text-align: center;
			a {
				.btn;
				.btn-default;
				min-width: 45%;
			}
		}
	}
}
.mod_gallery_03 {
	.clearfix;
	position: relative;
	ul {
		.rul;
		li {
			.rli;
			width: 100%;
		}
	}
	.prev,.next {
		.rin;
		position: absolute;
		left: -6px;
		bottom: 0;
		color: #999;
		font-size: 30px;
		line-height: 1;
		&:hover{
			color: @cp;
		}
		&:before{
			.fi;
			font-weight: normal;
			content: '\e807';
		}
	}
	.next {
		left: auto;
		right: -6px;
		&:before{
			content: '\e808';
		}
	}
	.caption {
		display: block;
		text-align: center;
		padding: 10px 0 12px;
		font-size: 13px;
	}
}
.mod_calendar_list {
	header {
		margin: 10px 0 30px;
		padding: 2px 10px;
		text-align: center;
		color: #fff;
		background: @cl;
		a {
			color: #fff;
		}
		.prev,.next {
			display: inline-block;
			width: 40px;
			overflow: hidden;
			text-decoration: none;
			text-align: center;
			white-space: nowrap;
			vertical-align: middle;
			color: fade(#fff,50%);
			&:hover{
				color: #fff;
			}
			&:before{
				.fi;
				font-weight: normal;
				display: inline-block;
				font-size: 28px;
				width: 46px;
				content: '\e807';
			}
		}
		.next {
			&:before{
				content: '\e808';
			}
		}
		.title {
			display: inline-block;
			vertical-align: middle;
			text-transform: uppercase;
			font-size: 20px;
			font-weight: 700;
			margin: 0 20px;
		}
	}
	section {
		article {
			padding: 0 0 17px;
			margin: 0 0 40px;
			border-bottom: 1px solid #b0b0b0;
			font-size: 13px;
			h2 {
				font-size: 16px;
				margin: 0 0 20px;
				a {
					color: @cp;
					&:hover{
						color: @cl;
					}
				}
			}
			.content {
				.clearfix;
				margin: 0 0 15px;
				.mod_gallery_03 {
					float: left;
					width: 31%;
					margin: 6px 0;
					a {
						text-decoration: none;
					}
					.noimage {
						position: relative;
						display: block;
						height: 140px;
						text-align: center;
						color: #828282;
						background: #eaeaea;
						&:before{
							.fi;
							font-weight: normal;
							position: absolute;
							content: '\e80b';
							left: 0;
							width: 100%;
							top: 50%;
							font-size: 25px;
							line-height: 1;
							margin: -10px 0 0;
						}
					}
				}
				.meta {
					width: 69%;
					float: left;
					padding: 0 0 0 30px;
					ul {
						.rul;
						li {
							.rli;
							font-size: 13px;
							margin: 0 0 6px;
							mark {
								color:  #999;
							}
						}
					}
				}
			}
			.mod_attachments {
				margin-bottom: 15px;
				ul {
					li {
						padding-left: 25px;
						margin: 0 0 4px;
						[class^="ev-"] {
							position: absolute;
							left: -4px;
							top: 0;
							font-size: 17px;
							line-height: 1;
							color: @cl;
						}
					}
				}
			}
			.edit {
				text-align: right;
				text-transform: uppercase;
				font-weight: 700;
				a {
					color: @cp;
					&:hover{
						color: @cl;
					}
				}
			}
		}
	}
}
.mod_directory {
	.map {
		height: 350px;
	}
	.alph {
		padding: 10px 0;
		text-align: center;
		background: @cl;
		ul {
			.rul;
			li {
				.rli;
				display: inline-block;
				a {
					display: inline-block;
					width: 19px;
					line-height: 22px;
					font-weight: 700;
					color: #fff;
					text-decoration: none;
					text-transform: uppercase;
					&:hover{
						background: fade(#fff,20%);
					}
				}
				&.active {
					a {
						color: @cl;
						background: #fff;
					}
				}
			}
		}
	}
	.search {
		margin: 20px 0;
		input[type="text"],input[type="search"] {
			width: 44.4%;
			margin: 0 0 0 25%;
			height: 33px;
			float: left;
			border-color: #666;
		}
		input[type="submit"] {
			.fi;
			position: relative;
			padding: 0 8px;
			line-height: 33px;
			height: 33px;
		}
	}
	section {
		article {
			margin: 0 0 20px;
			header {
				.clearfix;
				position: relative;
				margin: 0 0 15px;
				border: 1px solid #dbdbdb;
				background: #f9f9fa;
				figure {
					float: left;
					width: 21%;
					position: absolute;
					left: 0;
					top: 0;
					bottom: 0;
					text-align: center;
					background: #fff;
					border-right: 1px solid #dbdbdb;
					img {
						max-height: 100%;
						width: auto!important;
					}
				}
				.content {
					padding: 0 0 0 20%;
				}
				h2 {
					font-size: 16px;
					line-height: 1.4;
					margin: 0;
					padding: 24px 20px;
					a {
						color: @cp;
						&:hover{
							color: @cl;
						}
					}
				}
			}
			.quote {
				font-size: 15px;
				font-weight: 600;
				p {
					margin: 0 0 12px;
				}
				mark {
					color: @cl;
					font-weight: 700;
				}
			}
			.content_main {
				.clearfix;
				padding: 17px 0 0;
				border-top: 1px solid #ccc;
				font-size: 13px;
				line-height: 1.2;
				a {
					color: @cp;
					&:hover{
						color: @cl;
					}
				}
				.mod_gallery_03 {
					float: left;
					width: 31%;
					margin: 3px 0;
				}
				.content {
					float: left;
					width: 69%;
					padding: 0 0 0 20px;
				}
				.attr {
					.rul;
					margin: 0 0 10px;
					li {
						.rli;
						margin: 0 0 5px;
						mark {

							font-weight: 700;
						}
					}
				}
				.media {
					.rul;
					li {
						.rli;
						padding: 0 0 0 30px;
						margin: 0 0 15px;
						[class^="ev-"] {
							position: absolute;
							left: 0;
							top: -2px;
							font-size: 17px;
						}
					}
				}
				.contact {
					.rul;
					border-top: 1px solid #ccc;
					padding: 12px 0 0;
					li {
						.rli;
						margin: 0 0 5px;
						mark {
							font-weight: 700;
						}
					}
				}
				.edit {
					margin: 15px 0 0;
					font-weight: 600;
					text-align: right;
					text-transform: uppercase;
					a {
						color: @cp;
						&:hover{
							color: @cl;
						}
					}
				}
			}
		}
	}
}
.mod_add_action, .mod_edit_directory, .mod_logout {
	.highlight {
		margin: 0 0 30px;
		padding: 20px;
		background: #f9f9fa;
		border: 1px solid #dbdbdb;
		.title {
			text-align: center;
			color: @cl;
			font-weight: 700;
			text-transform: uppercase;
			font-size: 16px;
			margin: 0 0 20px;
		}
	}
	.helper {
		font-size: 13px;
		mark {
			display: inline-block;
			color: @cl;
			font-weight: 700;
			font-size: 20px;
			line-height: 1;
			margin: -3px 0;
		}
	}
	label {
		display: inline-block;
		line-height: 1;
		mark {
			float: right;
			color: @cl;
			font-weight: 700;
			font-size: 20px;
		}
	}
	.date-row {
		margin: 0 0 20px;
		label {
			display: inline-block;
			width: 100px;
		}
		select {
			width: inherit;
			padding: 0 0 0 5px;
			margin: 0 5px;
		}
	}
	.items_image, .items_file {
		margin: 0 0 20px;
		.item {
			.clearfix;
			padding: 0 0 20px;
			margin: 0 0 20px;
			border-bottom: 1px solid #ccc;
			figure {
				float: left;
				width: 31%;
				img {
					display: block;
					margin: 0 0 18px;
				}
				[class^="ev-"] {
					font-size: 76px;
					text-align: center;
					display: block;
					line-height: 140px;
					border: 1px solid #dcdcdc;
					margin: 0 0 18px;
				}
				.remove {
					.btn;
					display: block;
					height: 26px;
					line-height: 26px;
					border: 1px solid @error;
					background: #fff;
					color: @error;
					font-weight: normal;
					font-size: 14px;
					&:hover{
						color: #fff;
						background: @error;
					}
				}
			}
			.content {
				width: 69%;
				padding: 0 0 0 20px;
				float: left;
				font-size: 15px;
				line-height: 1.2;
				p {
					margin: 0 0 15px;
				}
				textarea {
					height: 135px;
				}
			}
		}
		.title {
			text-align: center;
			text-transform: uppercase;
			color: @cl;
			font-weight: 700;
			font-size: 16px;
			margin: 0 0 10px;
		}
	}
	.items_file {
		padding-top: 15px;
		border-top: 2px solid @cl;
	}
	.add {
		text-align: center;
		margin: 30px 0 20px;
		padding: 30px 0 0;
		border-top: 2px solid @cl;
		input {
			.btn-default;
			min-width: 45%;
		}
	}
	.openhours {
		.title {
			text-align: left;
			text-transform: none;
			color: @cp;
			font-size: 14px;
			margin: 0 0 12px;
		}
		table {
			width: inherit;
			margin: 0 0 15px;
			thead,tbody {
				tr {
					th,td {
						padding: 0 1px 9px 2px;
						background: transparent;
						border: none;
						color: @cp;
						font-weight: normal;
					}
					th {
						padding-left: 20px;
						&:first-child {
							padding-left: 0;
						}
					}
				}
			}
			thead {
				tr {
					th,td {
						font-size: 12px;
						color: #999;
						padding-bottom: 0;
					}
				}
			}
		}
	}
	.phone_numbers {
		.remove {
			.btn;
			.btn-error;
			display: block;
			height: 28px;
			line-height: 26px;
			font-size: 14px;
			font-weight: normal;
			margin-bottom: 25px;
		}
		.more {
			text-align: center;
			margin: 0 0 20px;
			a {
				display: inline-block;
				color: #999;
				text-decoration: none;
				&:before{
					.fi;
					content: '\e808';
					float: right;
					line-height: 1;
					font-size: 18px;
					margin: 0 0 0 10px;
				}
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
	.media_profile {
		.facebook, .googleplus {
			&:before{
				.fi;
				position: absolute;
				z-index: 1;
				top: 0;
				left: 10px;
				color: #999;
				font-size: 28px;
				line-height: 1;
			}
			input {
				padding-left: 37px;
			}
			.form-control {
				.placeholder-label {
					padding-left: 37px;
				}	
			}
		}
		.facebook {
			&:before{
				content: '\e802';
			}
		}
		.googleplus {
			&:before{
				content: '\e804';
			}
		}
	}
	.contact_items {
		margin: 0 0 10px;
		.title {
			text-align: left;
			color: @cp;
			font-size: 13px;
			font-weight: 600;
		}
		.item {
			position: relative;
			margin: 0 0 35px;
			.remove {
				position: relative;
				top: -5px;
				text-align: right;
				a {
					.btn;
					.btn-error;
					padding: 0 25px;
					line-height: 26px;
					height: 28px;
					font-size: 14px;
					font-weight: normal;
				}
			}
		}
		.more {
			text-align: center;
			margin: -64px 0 0 20px;
			a {
				position: relative;
				display: inline-block;
				color: #999;
				text-decoration: none;
				&:before{
					.fi;
					content: '\e808';
					float: right;
					line-height: 1;
					font-size: 18px;
					margin: 0 0 0 10px;
				}
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
	.submit {
		margin: 20px 0;
		text-align: center;
		input {
			.btn-primary;
			min-width: 45%;
		}
	}
	.logout {
		margin: 20px 0;
		text-align: center;
		input {
			min-width: 45%;
		}
	}
}
.modal {
	.helper {
		font-size: 12px;
		margin: 0 0 15px;
		color: #666;
	}
	.submit {
		text-align: center;
		.required {
			margin: 0 0 5px;
			mark {
				line-height: 1;
				color: @cl;
				font-size: 20px;
				font-weight: 700;
			}
		}
		input[type="submit"] {
			.btn-default;
		}
	}
}
.mod_addthis {
	.clearfix;
	margin: 0 0 20px;
	.title {
		float: left;
		color: #999;
		margin: 0 10px 0 0;
	}
	.fb-like {
		float: left;
		margin: 0 10px 0 0;
	}
	.twitter-share-button {
		float: left;
		margin: 0 10px 0 0;
	}
	#___plusone_0 {
		float: left!important;
	}
	.tell_friend {
		.border-radius(3px);
		font-family: sans-serif;
		float: left;
		border: 1px solid #ccc;
		font-size: 11px;
		text-decoration: none;
		height: 20px;
		line-height: 18px;
		padding: 0 5px;
		color: #333;
		margin: 0 0 0 -20px;
		background-color: #eee;
		background-image: -webkit-linear-gradient(#fff,#dedede);
		background-image: linear-gradient(#fff,#dedede);
		&:hover{
			border-color: #bbb;
			background-color: #d9d9d9;
			background-image: -webkit-linear-gradient(#f8f8f8,#d9d9d9);
			background-image: linear-gradient(#f8f8f8,#d9d9d9);
		}
		&:before{
			content: '@';
			font-weight: bold;
			color: @cl;
			margin: 0 5px 0 0;
			float: left;
			font-size: 12px;
		}
	}
}

#main-footer {
	.container;
	padding: 0;
	position: relative;
	.copy {
		border-top: 1px solid @cl;
		padding: 28px 0;
		font-size: 12px;
		a {
			color: @cp;
			&:hover{
				color: @cl;
			}
		}
		p {
			margin: 0 0 10px;
		}
	}
}