a,abbr,acronym,address,applet,area,article,aside,audio,b,base,basefont,bdi,bdo,big,blockquote,body,br,button,canvas,caption,center,cite,code,col,colgroup,command,datalist,dd,del,details,dfn,dialog,dir,div,dl,dt,em,embed,fieldset,figcaption,figure,font,footer,form,frame,frameset,head,header,hgroup,h1, - h6,hr,html,i,iframe,img,input,ins,kbd,keygen,label,legend,li,link,main,map,mark,menu,meta,meter,nav,noframes,noscript,object,ol,optgroup,option,output,p,param,pre,progress,q,rp,rt,ruby,s,samp,script,section,select,small,source,span,strike,strong,style,sub,summary,sup,table,tbody,td,textarea,tfoot,th,thead,time,title,tr,track,tt,u,ul,var,video,wbr{
	width:auto;
	height:auto;
	margin: 0;
	padding: 0;
	position:static;
	font-size:12pt;
	line-height: 1.4;
	word-spacing:1.1pt;
	letter-spacing:0.2pt;
	color:#000;
	background:none;
	float:none;
	border:0;
	font-family:serif;
}
h1, h2, h3, h4, h5, h6, .mod-title{
	margin:1.3em 0;
	font-weight: bold;
}
h1{
	font-size:21pt;
}
h2, .mod-title{
	font-size:17pt;
}
h3{
	font-size:15pt;
}
h4, h5, h6{
	font-size:12pt;
}
code{
	font:10pt Courier,monospace;
}
blockquote{
	margin:1.3em;
	padding:1em;
	font-size:10pt;
}
hr{
	border-top: 1px solid #000;
}

/* Links */
a{
	text-decoration: none;
	color: black;
}
/* Table */
table{
	margin:1px;
	text-align:left;
	border-left:1px solid #333;
	border-top:1px solid #333;
}
th{
	border-bottom:1px solid #333;
	border-right:1px solid #333;
	font-weight:bold;
}
td{
	border-bottom:1px solid #333;
	border-right:1px solid #333;
}
th, td{
	padding:4px 10px 4px 0;
}
tfoot{
	font-style:italic;
}
caption{
	background:#fff;
	margin-bottom:2em;
	text-align:left;
}
thead{
	display:table-header-group;
}
tr{
	page-break-inside:avoid;
}
figure {
	margin: 0;
	padding: 0;
}
img {
	max-width: 99%;
	height: auto!important;
}
.noprint,
#bg,
#main-nav,
.breadcrumbs,
form,
iframe,
.mod_videos,
.mod_addthis,
.mod_banners,
.mod_facebook_box,
.mod_calendar,
.mod_newsletter,
.mod_shop,
.mod_tags,
.modal,
.datepicker_inline
{
	display: none;
}
.print {
	display: block;
}
.mod_calendar {
	&.print {
		display: block;
	}
	.title {
		margin:1.3em 0;
		font-weight: bold;
		font-size: 17pt;
	}
	article {
		margin: 1.3em 0;
		.date {
			margin-bottom: 0;
		}
		h4 {
			margin: 0;
		}
		img {
			max-width: 20%;
		}
	}
	nav {
		display: none;
	}
	.add {
		display: none;
	}
}
.mod_gallery_01,.mod_gallery_02 {
	margin: 2em 0;
	.items {
		.item {
			display: inline-block!important;
			max-width: 33.3333%;
			position: static!important;
			visibility: visible!important;
			&.cycle-sentinel {
				display: none!important;
			}
		}
	}
	.thumbnails {
		display: none;
	}
	.prev,.next {
		display: none;
	}
}
.mod_gallery_03 {
	ul {
		margin: 0 0 -20px;
		padding: 0;
		li {
			display: inline-block!important;
			max-width: 33.3333%;
			margin: 0;
			position: static!important;
			visibility: visible!important;
			img {
				margin: 0 0 0.5em;
			}
			.nodisplay {
				display: none;
			}
			&.cycle-sentinel {
				display: none!important;
			}
		}
	}
	.caption,.prev,.next {
		display: none!important;
	}
}
.mod_article_list {
	.more {
		display: none;
	}
}
.intro {
	font-size: 15pt;
}

#main-header {
	margin:1.3em 0 2em;
	border-bottom: 2px solid lightgrey;
}
#main-header .logo {
	margin: 0;
}
#main-header .logo a {
	text-decoration: none;
	color: black;
}
#main-header .slogan {
	color: grey;
}

#main-footer {
	color: grey;
	margin: 2em 0 0;
	padding: 1.3em 0;
	border-top: 2px solid lightgrey;
	a {
		color: grey;
	}
}
.mod_articles_01,.mod_articles_02,.mod_articles_03,.mod_articles_04,.mod_articles_05,.mod_articles_06,.mod_gallery_list,.mod_calendar_list {
	h1,h2,h3 {
		margin: 0.5em 0;
	}
	article {
		padding: 1.5em 0;
		figure {
			width: 33.3333%;
		}
	}
	nav,.edit {
		display: none;
	}
}
.mod_calendar_list {
	header {
		.prev, .next {
			display: none;
		}
	}
}
.mod_directory {
	.alph {
		display: none;
	}
	h1,h2,h3 {
		margin: 0.5em 0;
	}
	article {
		padding: 1.5em 0;
	}
	.edit {
		display: none;
	}
}
.mod_partners_list {
	h1,h2,h3 {
		margin: 0.5em 0;
	}
	article {
		padding: 1.5em 0;
	}
	nav {
		display: none;
	}
}