@media (min-width: 1200px) {
	
}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (max-width: 767px) {
	@content-width: 100%;
	.col_main,.col_sidebar, [class^="col-"] {
		float: none;
		width: 100%;
	}
	.col_main,.col_sidebar {
		padding-left: 0;
		padding-right: 0;
	}
	.breadcrumbs {
		margin: 0 0 20px;
		ul {
			li {
				white-space: normal;
			}
		}
	}
	#bg {
		display: none;
	}
	#page {
		width: @content-width;
		margin-top: 0;
	}
	#main-footer {
		width: @content-width;
	}
	#main-header {
		.logo {
			float: none;
			width: 100%;
			a {
				&:before, &:after {
					left: 50%;
					margin-left: -146px;
				}
				&:after {
					left: 50%;
					margin-left: -76px;
				}
			}
		}
		.slogan {
			display: none;
		}
	}
	#main-nav {
		.date {
			display: none;
		}
		.search {
			float: none;
			margin-bottom: 20px;
			margin-left: 0;
			.toggle {
				display: none;
			}
			form {
				display: block;
				position: static;
				width: 100%;
				input[type="text"],input[type="search"] {
					width: 100%;
					margin: 0 -32px 0 0;
				}
			}
		}
		.toggle-menu {
			display: block;
		}
		.menu-top {
			.transition(0.5s);
			max-height: 0px;
			float: none;
			margin-bottom: 0;
			overflow: hidden;
			&.on {
				max-height: 500px;
			}
			ul {
				margin-left: 0;
				li {
					padding-left: 0;
					padding-right: 0;
					float: none;
					&:before{
						display: none;
					}
					a {
						display: block;
						padding: 10px;
						border-top: 1px solid #ccc;
					}
				}
			}
		}
		.menu-main {
			.transition(0.5s);
			max-height: 0px;
			padding-top: 0;
			overflow: hidden;
			&.on {
				max-height: 500px;
			}
			ul {
				margin-left: 0;
				li {
					float: none;
					margin-bottom: 0;
					margin-left: 0;
					a {
						display: block;
						padding: 10px;
						border-top: 1px solid lighten(@cl,5%);
					}
				}
			}
		}
	}
	.mod_articles_01 {
		section {
			article {
				figure {
					float: none;
					width: 100%;
					margin-right: 0;
				}
			}
		}
	}
	.mod_articles_02 {
		section {
			margin-left: 0;
			article {
				float: none;
				width: 100%;
				padding-left: 0;
				padding-right: 0;
				figure {
					float: none;
					width: 100%;
					margin-right: 0;
				}
			}
		}
	}
	.mod_articles_03 {
		section {
			article {
				figure {
					float: none;
					width: 100%;
					margin-right: 0;
				}
			}
		}
	}
	.mod_articles_04 {
		section {
			article {
				figure {
					float: none;
					width: 100%;
					margin-right: 0;
				}
			}
		}
	}
	.mod_articles_05 {
		section {
			article {
				figure {
					float: none;
					width: 100%;
					margin-right: 0;
				}
			}
		}
	}
	.mod_articles_06 {
		section {
			article {
				figure {
					float: none;
					width: 100%;
					margin-right: 0;
				}
			}
		}
	}
	.mod_calendar {
		.add {
			a {
				margin-left: 0;
				margin-right: 0;
			}
		}
		section {
			article {
				figure {
					float: none;
					width: 100%;
					margin-right: 0;
				}
			}
			nav {
				a {
					margin-left: 0;
					margin-right: 0;
				}
			}
		}
	}
	.mod_shop {
		.title {
			&:before{
				font-size: 25px;
			}
		}
		.items {
			.item {
				width: 100%;
			}
		}
	}
	.mod_facebook_box {
		display: none;
	}
	.mod_gallery_02 {
		.images {
			padding-left: 50px;
			padding-right: 50px;
		}
		.thumbnails {
			.item {
				width: 45%;
			}
		}
	}
	.mod_gallery_list {
		section {
			article {
				figure {
					float: none;
					width: 100%;
					margin-right: 0;
				}
			}
		}
	}
	.mod_partners_list {
		section {
			article {
				padding: 10px 15px;
				figure {
					float: left;
					width: 100%;
					margin-right: 0;
				}
			}
		}
	}
	.mod_calendar_list {
		section {
			article {
				.content {
					.mod_gallery_03 {
						float: none;
						width: 100%;
					}
					.meta {
						width: 100%;
						padding-left: 0;
					}
				}
			}
		}
	}
	.mod_directory {
		.search {
			input[type="text"],input[type="search"] {
				width: 100%;
				margin-left: 0;
				margin-right: -32px;
				float: left;
			}
		}
		section {
			article {
				margin: 0 0 20px;
				header {
					figure {
						float: none;
						width: 100%;
						position: static;
					}
					.content {
						padding-left: 0;
					}
				}
				.content_main {
					.mod_gallery_03 {
						float: none;
						width: 100%;
					}
					.content {
						float: none;
						width: 100%;
						padding-left: 0;
					}
				}
			}
		}
	}
	.mod_add_action, .mod_edit_directory, .mod_logout {
		.date-row {
			select {
				margin-bottom: 10px;
			}
		}
		.items_image, .items_file {
			.item {
				figure {
					float: none;
					width: 100%;
					img {
						display: block;
						margin: 0 0 18px;
					}
				}
				.content {
					width: 100%;
					padding-left: 0;
					float: none;
					margin-top: 20px;
				}
			}
			.title {
				text-align: center;
				text-transform: uppercase;
				color: @cl;
				font-weight: 700;
				font-size: 16px;
				margin: 0 0 10px;
			}
		}
		.contact_items {
			.more {
				margin-top: 0;
			}
		}
	}
	#main-footer {
		.copy {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	.modal-dialog {
		position: relative;
		width: auto;
		width: 90%;
		left: 0;
		margin: 5% 5% 0;
	}
	.ui-datepicker-inline {
		.ui-datepicker-header {
			.ui-datepicker-title {
				font-size: 15px;
			}
		}
	}
}
