html,body,button,input,select,textarea{
	.fp;
}
body{
	font-size: @fsp;
	line-height: @lhp;
	text-align: center;
	font-weight: 500;
	color: @cp;
	background: @bb;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
	.fh;
	margin: 0 0 10px;
	line-height: @lhh;
	font-weight: bold;
}
h1{
	font-size: 24px;
}
h2{
	font-size: 20px;
}
h3{
	font-size: 19px;
}
h4{
	font-size: 18px;
}
h5{
	font-size: 17px;
}
h6{
	font-size: 16px;
}
p{
	margin: 0 0 20px;
}
ul,ol{
	padding: 0;
	margin: 0 0 20px 20px;
}
ul ul,ul ol,ol ol,ol ul{
	margin-bottom: 0;
	margin-top: 0;
}
ul>li{
	position: relative;
	list-style-type: none;
	padding: 0 0 0 16px;
	margin: 0;
	&:before{
		.fi;
		position: absolute;
		top: 1px;
		left: 0;
		font-size: 14px;
		line-height: 1;
		content: '\2022';
	}
	&>ul{
		padding: 10px 0;
	}
}
ol{
	list-style:decimal;
	&>li{
		margin: 0 0 0 20px;
	}
	ol{
		list-style: lower-alpha;
		padding: 10px 0;
	}
}
hr{
	margin: 0 0 20px;
	border: 0;
	border-top: 1px solid lighten(@cp,85%);
	&.separator {
		border-color: @cl;
	}
}
strong,b{
	font-weight: 700;
}
em,i{
	font-style:italic;
}
sup,sub{
	position: relative;
	vertical-align: baseline;
	font-size: 60%;
	line-height: 1;
}
sup{
	bottom:1.4ex;
}
sub{
	top:.7ex;
}
a{
	color: @cl;
	cursor: pointer;
	&:hover{
		text-decoration:none;
	}
}

// table
table {
	width: 100%;
	margin: 0 0 20px;
	th,td {
		padding: 7px 10px;
		border: 1px solid #ddd;
		a {
			color: #999;
		}
	}
	thead th, thead td, th {
		color: #fff;
		background: @cl;
		border-color: lighten(@cl,10%);
	}

}

// form
input[type=text],
input[type=number],
input[type=email],
input[type=password],
textarea,
select {
	.rin;
	.transition(0.2s);
	.border-radius(0px);
	position: relative;
	border: 1px solid #dbdbdb;
	font-size: @fsp;
	width: 100%;
	height: 28px;
	padding: 0 10px;
	color: @cp;
	background: #fff;
	outline: 0;
	max-width: 100%;
	&:focus{
		border-color: darken(#dbdbdb,10%);
	}
}
textarea{
	padding: 10px;
	height:auto;
}
select {
	padding-right: 0;
}
select[multiple] {
	width: auto;
	height: auto;
	padding-right: 4px;
	padding-left: 4px;
}
input[type=submit],
input[type=button],
button {
	.btn;
}
.fileinputs {
	position: relative;
	display: block;
	overflow: hidden;
	&:hover, &:focus{
		.normal-button {
			background: darken(#666,10%);
		}
		.input-file-text {
			border-color: darken(#dbdbdb,10%);
		}
	}
	.type-file {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		font-size: 500%;
		-webkit-opacity: 0;
		-moz-opacity: 0;
		opacity: 0;
		filter:alpha(opacity=0);
	}
	.input-file-text {
		height: 43px;
	}
	.normal-button {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		height: 100%;
		line-height: inherit;
	}
}