.ui-datepicker-inline {
	.ui-datepicker-header {
		.clearfix;
		padding: 6px 8px;
		text-align: center;
		color: #fff;
		background: #676767;
		a {
			color: #fff;
		}
		.ui-datepicker-prev, .ui-datepicker-next {
			float: left;
			width: 30px;
			height: 30px;
			line-height: 30px;
			white-space: nowrap;
			overflow: hidden;
			&:before{
				.fi;
				content: '\e807';
				display: inline-block;
				width: 30px;
				font-size: 20px;
			}
		}
		.ui-datepicker-next {
			float: right;
			&:before{
				content: '\e808';
			}
		}
		.ui-datepicker-title {
			text-transform: uppercase;
			font-size: 18px;
			padding: 3px 0;
		}
	}
	.ui-datepicker-calendar {
		th,td {
			padding: 0;
			border: 1px solid #ecebeb;
			text-align: center;
			a,span {
				position: relative;
				display: block;
				height: 38px;
				line-height: 38px;
				color: #999;
				text-decoration: none;
			}
			a {
				&:before{
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					border-bottom: 12px solid transparent;
					border-right: 12px solid #999;
				}
				&:hover{
					color: @cl;
					&:before{
						border-right-color: @cl;
					}
				}
			}
		}
		thead th,thead td, th {
			text-transform: uppercase;
			background: transparent;
			border: 1px solid #ecebeb;
			border-bottom: 1px solid #abaaaa;
			font-weight: 500;
		}
	}
}