@font-face {
	font-family: 'Raleway';
	src: url('raleway-bold-webfont.eot');
	src: url('raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('raleway-bold-webfont.woff2') format('woff2'),
		 url('raleway-bold-webfont.woff') format('woff'),
		 url('raleway-bold-webfont.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;

}

@font-face {
	font-family: 'Raleway';
	src: url('raleway-medium-webfont.eot');
	src: url('raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
		 url('raleway-medium-webfont.woff2') format('woff2'),
		 url('raleway-medium-webfont.woff') format('woff'),
		 url('raleway-medium-webfont.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;

}

@font-face {
	font-family: 'Raleway';
	src: url('raleway-regular-webfont.eot');
	src: url('raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('raleway-regular-webfont.woff2') format('woff2'),
		 url('raleway-regular-webfont.woff') format('woff'),
		 url('raleway-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'Raleway';
	src: url('raleway-semibold-webfont.eot');
	src: url('raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('raleway-semibold-webfont.woff2') format('woff2'),
		 url('raleway-semibold-webfont.woff') format('woff'),
		 url('raleway-semibold-webfont.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;

}