
.ev-search:before { content: '\e800'; } /* '' */
.ev-ok:before { content: '\e801'; } /* '' */
.ev-facebook-rect:before { content: '\e802'; } /* '' */
.ev-twitter-bird:before { content: '\e803'; } /* '' */
.ev-googleplus-rect:before { content: '\e804'; } /* '' */
.ev-logo:before { content: '\e805'; } /* '' */
.ev-title:before { content: '\e806'; } /* '' */
.ev-arr-left:before { content: '\e807'; } /* '' */
.ev-arr-right:before { content: '\e808'; } /* '' */
.ev-pdf:before { content: '\e809'; } /* '' */
.ev-shop:before { content: '\e80a'; } /* '' */
.ev-logo_title:before { content: '\e80b'; } /* '' */
.ev-arr-down:before { content: '\e80c'; } /* '' */
.ev-arr-up:before { content: '\e80d'; } /* '' */
.ev-close:before { content: '\e80e'; } /* '' */
.ev-gif:before { content: '\e80f'; } /* '' */
.ev-jpeg:before { content: '\e810'; } /* '' */
.ev-mp3:before { content: '\e811'; } /* '' */
.ev-png:before { content: '\e812'; } /* '' */
.ev-ppt:before { content: '\e813'; } /* '' */
.ev-pptx:before { content: '\e814'; } /* '' */
.ev-presentation:before { content: '\e815'; } /* '' */
.ev-rar:before { content: '\e816'; } /* '' */
.ev-rtf:before { content: '\e817'; } /* '' */
.ev-table:before { content: '\e818'; } /* '' */
.ev-xls:before { content: '\e819'; } /* '' */
.ev-xlsx:before { content: '\e81a'; } /* '' */
.ev-zip:before { content: '\e81b'; } /* '' */
.ev-doc:before { content: '\e81c'; } /* '' */
.ev-docplus:before { content: '\e81d'; } /* '' */
.ev-wma:before { content: '\e81e'; } /* '' */