@font-face {
  font-family: 'ev-icons';
  src: url('../font/ev-icons.eot?27099740');
  src: url('../font/ev-icons.eot?27099740#iefix') format('embedded-opentype'),
       url('../font/ev-icons.woff?27099740') format('woff'),
       url('../font/ev-icons.ttf?27099740') format('truetype'),
       url('../font/ev-icons.svg?27099740#ev-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'ev-icons';
    src: url('../font/ev-icons.svg?27099740#ev-icons') format('svg');
  }
}
*/
 
 [class^="ev-"]:before, [class*=" ev-"]:before {
  font-family: "ev-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.ev-search:before { content: '\e800'; } /* '' */
.ev-ok:before { content: '\e801'; } /* '' */
.ev-facebook-rect:before { content: '\e802'; } /* '' */
.ev-twitter-bird:before { content: '\e803'; } /* '' */
.ev-googleplus-rect:before { content: '\e804'; } /* '' */
.ev-logo:before { content: '\e805'; } /* '' */
.ev-title:before { content: '\e806'; } /* '' */
.ev-arr-left:before { content: '\e807'; } /* '' */
.ev-arr-right:before { content: '\e808'; } /* '' */
.ev-pdf:before { content: '\e809'; } /* '' */
.ev-shop:before { content: '\e80a'; } /* '' */
.ev-logo_title:before { content: '\e80b'; } /* '' */
.ev-arr-down:before { content: '\e80c'; } /* '' */
.ev-arr-up:before { content: '\e80d'; } /* '' */
.ev-close:before { content: '\e80e'; } /* '' */
.ev-gif:before { content: '\e80f'; } /* '' */
.ev-jpeg:before { content: '\e810'; } /* '' */
.ev-mp3:before { content: '\e811'; } /* '' */
.ev-png:before { content: '\e812'; } /* '' */
.ev-ppt:before { content: '\e813'; } /* '' */
.ev-pptx:before { content: '\e814'; } /* '' */
.ev-presentation:before { content: '\e815'; } /* '' */
.ev-rar:before { content: '\e816'; } /* '' */
.ev-rtf:before { content: '\e817'; } /* '' */
.ev-table:before { content: '\e818'; } /* '' */
.ev-xls:before { content: '\e819'; } /* '' */
.ev-xlsx:before { content: '\e81a'; } /* '' */
.ev-zip:before { content: '\e81b'; } /* '' */
.ev-doc:before { content: '\e81c'; } /* '' */
.ev-docplus:before { content: '\e81d'; } /* '' */
.ev-wma:before { content: '\e81e'; } /* '' */